<table>
  <tr>
    <td style="padding:5px;border:1px #ccc solid;width:8%"><h2>{{ticket.location}}</h2></td>
    <td style="padding:5px;border:1px #ccc solid;width:6%"><h4>{{ticket.moment}}</h4></td>
    <td style="padding:5px;border:1px #ccc solid;width:100%"><h2>{{ticket.name}}</h2></td>
  </tr>
</table>
