<form style="padding:15px">
  <label>Name:</label>
  {{input value=name}}
  <label>Location:</label>
  {{input value=location}}
  <label>Issue:</label>
  {{input value=issue}}
  <button {{action 'submitTicket'}}>Submit</button>
</form>
