<table>
  <tr>
    <td style="padding:5px;width:16%"><h2>{{ticket.location}}</h2></td>
    <td style="padding:5px;width:20%"><h2>{{timeElapsed}}m</h2></td>
    <td style="padding:5px;width:45%;font-weight:300"><h2>{{ticket.name}}</h2></td>

  </tr>
</table>

  <hr>
