<div class="col-xs-8" style="font-family:'Nixie One',cursive;margin-bottom:0px;background-color: #f05a26;width:100%;text-align:center">
  <a class="navbar-brand" href="#" style="float:left;text-align:center;color:#fff;font-size:2.3em;">Queue</a>
</div>
  <hr style="margin-top:0px">

{{outlet}}
