<nav class="navbar navbar-light bg-faded" style="margin-bottom:0px;background:orange">
  <a class="navbar-brand" href="#" style="margin-left:30px;color:#000;font-size:2.3em;">Help Queue</a>
</nav>
  <hr style="margin-top:0px">

{{outlet}}
