<div style="padding:15px;margin-top:-20px">
<h1>Ticket</h1>
<table style="margin-top:20px">
  <tr style="border-bottom:1px #ccc solid;">
    <td>Location</td>
    <td>Time</td>
    <td>Submitter</td>
    <td>Issue</td>
  </tr>
  <tr>
    <td style="padding:5px;width:8%"><h2>{{model.location}}</h2></td>
    <td style="padding:5px;width:6%"><h4>{{model.moment}}</h4></td>
    <td style="padding:5px;width:100%"><h2>{{model.name}}</h2></td>
    <td style="padding:5px;"><h2>{{model.issue}}</h2></td>
  </tr>
</table>
</div>
