<div style="padding:15px;margin-top:60px">
<table style="margin-top:20px;width:100%">
  <tr style="border-bottom:1px #ccc solid;">
    <td>Location</td>
    <td>Time</td>
    <td>Submitter</td>
    <td>Issue</td>
  </tr>
  <tr>
    <td style="padding:5px;width:25%"><h2>{{model.location}}</h2></td>
    <td style="padding:5px;width:25%"><h4>{{model.timeStamp}}</h4></td>
    <td style="padding:5px;width:25%"><h2>{{model.name}}</h2></td>
    <td style="padding:5px;width:25%"><h2>{{model.issue}}</h2></td>
  </tr>
</table>
</div>
